*.DS_Store
classifer_nb
classifer_svc
genre_header.jpg
Genredict.pckl
movie_list.pckl
movies_for_posters
X.pckl
Y.pckl
posters_final/
deeplearning_project_setup.rtf
*.pckl
GoogleNews-vectors-negative300.bin
movies_for_posters
Web_version/
random_posters/
resources/
classifer_nb
classifer_svc
Deep_Learning_Project2.ipynb

